# Sovereign Portal C-137 — pnpm behaviour
node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
resolve-peers-from-workspace-root=true
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling
shamefully-hoist=false
enable-pre-post-scripts=true
